.hero-section {
  background: transparent url("/images/hero-bg.png") 0% 0% no-repeat padding-box;
  width: 100%;
  height: 718px;
  background-size: cover;
  margin-bottom: 100px;
}

.bnt-start-now {
  margin-top: 50px;
  width: 100%;
  max-width: 350px;
  height: 67px;
  color: #fff;
  background: transparent
    linear-gradient(
      116deg,
      #01454f 0%,
      #13574f 18%,
      #35764f 43%,
      #51914f 61%,
      #6fad4f 84%,
      #94cc52 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  font-size: 33px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .bnt-start-now {
    width: 100%;
    max-width: 250px;
  }
}

.bnt-start-now:hover {
  transform: scale(1.05);
}
